<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="Tasks">
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 60%">Message</th>
            <th class="dropdown" style="width: 20%">Date</th>
            <th style="width: 10%"  scope="col">Done
                <a th:href="@{'/sort/{sortMethod}' (sortMethod = 'ASC')}"><i class="fa fa-chevron-circle-up"></i></a>
                <a th:href="@{'/sort/{sortMethod}' (sortMethod = 'DESC')}"><i class="fa fa-chevron-circle-down"></i></a>
            </th>
            <th style="width: 5%">Edit</th>
            <th style="width: 5%">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task, iterationStatus : ${tasks}">
            <td th:text="${iterationStatus.count}" style="text-align: center">#</td>
            <td th:text="${task.message}">Message</td>
            <td th:text="${#dates.format(task.date, 'EEE, d MMM yyyy HH:mm')}" style="text-align: center">Date</td>
            <td style="text-align: center">
                <input class='taskDone' type="checkbox"  th:value="${task.id}" th:checked="${task.done}"/>
            </td>
            <td style="text-align: center"><a th:href="@{'/edit/{id}'(id=${task.id})}"><i class="fa fa-edit" style="font-size:20px"></i></a></td>
            <td style="text-align: center"><a th:href="@{'/delete/{id}'(id=${task.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-5">
            <div class="pagination">
                <p>Showing <span class="badge badge-info" th:text="${page.number + 1}"></span> to
                    <span class="badge badge-info"
                          th:text="${ page.totalPages}"></span>
                    of <span
                            class="badge badge-info" th:text="${page.totalElements}"></span> tasks</p>
            </div>
        </div>
        <div class="col-sm-7">
            <!-- Pagination Bar -->
            <div th:fragment='paginationbar'>
                <div class="text-center">
                    <ul class='pagination pagination-centered'>
                        <li th:class="${page.first}?'disabled':''">
                            <span th:if='${page.first}'>← First</span>
                            <a th:if='${not page.first}' th:href='@{${"/"}(pageNumber=0)}'>←
                                First</a>
                        </li>
                        <li th:class="${page.hasPrevious}? '' : 'disabled'">
                            <span th:if='${not page.hasPrevious}'>«</span>
                            <a th:if='${page.hasPrevious}'
                               th:href='@{${"/"}(pageNumber=${page.number - 1})}'
                               title='Go to previous page'>«</a>
                        </li>
                        <li th:each='item : ${pageItems}' th:class="${page.number + 1 == item}? 'active' : ''">
                            <span th:if='${item == page.number - 1}' th:text='${item}'>1</span>
                            <a th:if='${not (item == page.number - 1)}'
                               th:href='@{${"/"}(pageNumber=${item - 1})}'><span
                                    th:text='${item}'>1</span></a>
                        </li>
                        <li th:class="${page.hasNext}? '' : 'disabled'">
                            <span th:if='${not page.hasNext}'>»</span>
                            <a th:if='${page.hasNext}'
                               th:href='@{${"/"}(pageNumber=${page.number + 1})}'
                               title='Go to next page'>»</a>
                        </li>
                        <li th:class="${page.last}? 'disabled' : ''">
                            <span th:if='${page.last}'>Last →</span>
                            <a th:if='${not page.last}'
                               th:href='@{${"/"}(pageNumber=${page.totalPages - 1})}'>Last →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</html>